@import './maps';

$textColor: papayawhip;
// $background: palevioletred;
$background: #E2356F;

body {
    background: $textColor;
    color: $background;
}

.apply-primary {
    background-color: $background;
    color: papayawhip;
}

.btn-styled {
    color: white;
    background-color: $background;
}

.btn-styled:hover {
    color: white;
    background-color: #ff82ab;
}

.btn-styled:active, .btn-styled:focus {
    outline: none !important;
    box-shadow: none !important;
}
