@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (40: 40%,
          70: 70%,
          75: 75%,
          10: 10%)
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "max-height": map-merge(
      map-get($utilities, "max-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "max-height"), "values"),
          (40: 40%,
          70: 70%,
          75: 75%,
          10: 10%)
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (40: 40%,
          70: 70%,
          10: 10%)
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (40: 40%,
          70: 70%,
          10: 10%)
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
          4: 2rem,
          )
        ),
      ),
    ),
  )
);

$theme-colors: (
"theme-text": papayawhip,
"theme-background": palevioletred,
);

@import "bootstrap";
